{:source-paths ["src"]

 :dependencies
 [[reagent "0.10.0"]
  [re-frame "0.12.0"]

  [binaryage/devtools "1.0.0"]

  [refactor-nrepl "2.5.0"]
  [cider/cider-nrepl "0.24.0"]
  [iced-nrepl "1.0.1"]]

 :nrepl {:cider false
         :middleware [cider.nrepl/wrap-classpath
                      cider.nrepl/wrap-clojuredocs
                      cider.nrepl/wrap-complete
                      cider.nrepl/wrap-debug
                      cider.nrepl/wrap-format
                      cider.nrepl/wrap-info
                      cider.nrepl/wrap-macroexpand
                      cider.nrepl/wrap-ns
                      cider.nrepl/wrap-out
                      cider.nrepl/wrap-spec
                      cider.nrepl/wrap-test
                      cider.nrepl/wrap-trace
                      cider.nrepl/wrap-undef
                      cider.nrepl/wrap-xref
                      refactor-nrepl.middleware/wrap-refactor
                      iced.nrepl/wrap-iced]}

 :dev-http {8080 ["target/", "src/html"]}

 :builds {:app {:target :browser
                :output-dir "target/"
                :asset-path "."
                :compiler-options {:optimizations :simple}
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:repl-init-ns app.main
                           :repl-pprint true}}}}

