{:source-paths ["src"]

 :dependencies
 [[reagent "1.0.0-alpha2"]
  [re-frame "1.0.0"]

  [binaryage/devtools "1.0.2"]

  [refactor-nrepl "2.5.0"]
  [cider/cider-nrepl "0.25.2"]
  [iced-nrepl "1.0.4"]]

 :nrepl {:cider false
         :middleware [cider.nrepl/wrap-classpath
                      cider.nrepl/wrap-clojuredocs
                      cider.nrepl/wrap-complete
                      cider.nrepl/wrap-debug
                      cider.nrepl/wrap-format
                      cider.nrepl/wrap-info
                      cider.nrepl/wrap-macroexpand
                      cider.nrepl/wrap-ns
                      cider.nrepl/wrap-out
                      cider.nrepl/wrap-spec
                      cider.nrepl/wrap-test
                      cider.nrepl/wrap-trace
                      cider.nrepl/wrap-undef
                      cider.nrepl/wrap-xref
                      refactor-nrepl.middleware/wrap-refactor
                      iced.nrepl/wrap-iced]}

 :http {:port 9630}
 :dev-http {8080 {:roots ["target/", "src/html"]}}

 :builds {:app {:target :browser
                :output-dir "target/"
                :asset-path "."
                :compiler-options {:optimizations :none}
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:repl-init-ns app.main
                           :repl-pprint true
                           :devtools-url "https://app.defn.sh/repl"}}
          :app-release {:target :browser
                        :output-dir "release"
                        :asset-path "."
                        :modules {:main {:init-fn app.main/main!}}}}}

